Description of BagIt `fetch.txt` file is too constraining

While working on  BagIt profile to support the DataCite use-case (see [issue 31](https://github.com/bagit-profiles/bagit-profiles-specification/issues/31)), @tdilauro [mentioned](https://github.com/bagit-profiles/bagit-profiles-specification/pull/35#issuecomment-1377353806):
> The DataCite spec specifically says 'A TSV file named “fetch.txt.', whereas the BagIt spec allows spaces or tabs.

The exact definition may be found in [§2.2.3 of RFC 8493](https://www.rfc-editor.org/rfc/rfc8493.html#section-2.2.3).

Although this is a minor inconsistency, I think it is worth updating the DataCite description either to match the BagIt definition or to omit such details.

Cheers,
Paul.